* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fff;
}

body {
  background-image: url(./assets/fundo-git.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: #141417;
  padding: 2rem;
  
}

a {
  text-decoration: none;
}